.table {
    font-size: 1.2rem;
    border: 1px solid lightgray;
    padding: 0;
}

.titletext {
    font-family: inherit;
    color: blue;
    font-weight: bold;
}

thead {
    background-color: #D1E8E4;
    color: #091353;
    font-weight: bold;
}

tbody {
    height: 560px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.orderSuccessBtn {
    background-color: lightgreen;
    color: black;
}